.chart-container {
    height: 335px;
    width: 100%;
}

.Axis path,
.Axis line {
  stroke: #BDBDBD;
}

.Axis text {
  font-family: Roboto;
  font-size: 11px;
  fill: black;
}

.event-layer {
  fill: transparent;
}

.focus-line {
  stroke: #E53935;
  stroke-width: 1px;
}
